@import "../../sass/variables.scss";

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background: -webkit-linear-gradient(
    to right,
    $color-medium-eletric-blue,
    $color-rich-black
  );
  background: linear-gradient(
    to right,
    $color-medium-eletric-blue,
    $color-rich-black
  );
}
