$color-liberty: #455eb5;
$color-iris: #5643cc;
$color-majorelle-blue: #673fd7;
$color-white: #fff;
$color-dark-charcoal: #333;
$color-lavender: #e2e6f8;
$color-philippine-gray: #8a8a8a;
$color-quartz: #4b4b4b;
$color-tart-orange: #f34b4b;
$color-medium-eletric-blue: #004e92;
$color-rich-black: #000428;
