.AppTitle {
  margin-top: 0;
}
.SearchCard {
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
.SearchForm {
  display: flex;
  align-items: center;
}
.UserTeaserCard {
  align-items: center;
  padding: 1rem;
}
.UserName {
  margin-bottom: 0;
}
.Username {
  color: #aaa;
  margin-top: 0;
}
.UserBio {
  margin-top: 0;
  max-width: 20rem;
  text-align: center;
}
.SeeMoreButton {
  margin: 1rem 0;
}
.SearchButton {
  margin: 0 1rem;
}
