@import "../../sass/variables.scss";

.Input {
  color: $color-dark-charcoal;
  font-size: 1.2rem;
  margin: 0 0 0.2rem 0;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: $color-white;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.HasError {
  border-color: $color-tart-orange;
}
.ErrorMessage {
  color: $color-tart-orange;
  font-size: small;
}
